###################################################################################################

# Start Guild
#
# These settings set all new characters into a starting guild based on faction.
#
#    StartGuild.Alliance
#        Description: Guild entry number for Alliance(Taken from guildid field in characters.guild table)
#        Default: 45 (Default guildid)
#                 1+ (guildid entry)
#

StartGuild.Alliance = 1

#
#    StartGuild.Horde
#        Description: Guild entry number for Horde (Taken from guildid field in characters.guild table)
#        Default: 46 (Default guildid)
#                 1+ (guildid entry)

#

StartGuild.Horde = 2

#
###################################################################################################
