########################################
# Kitt Auto Complete Quests
########################################
# Lista de ID-uri ale quest-urilor care vor fi completate automat la acceptare.
# Foloseste virgula ca separator.
# Default: "" (Niciunul) Ex.: "99,101,7023"
kitt.Quests.AutoCompleteList = ""

# Activeaza/Dezactiveaza completarea automata a reputatiei (1 = Activat, 0 = Dezactivat)
# Defaul: 0
kitt.Quests.AutoReputation.Enable = 0

# Lista de ID-uri ale quest-urilor care AU VOIE sa primeasca reputatie automata (player).
# Ex.: Daca jucatorul are reputatie 3000 si questul cere rep. 6000, la acceptare va primi jucatorul rep. 6000
# Nota: Quest-ul trebuie sa fie prezent si in kitt.Quests.AutoCompleteList!
# Default: "" # Ex.: "10733,10738"
kitt.Quests.AutoReputation.List = ""

###################
# KITT NPC CONFIG
##################
#    Kitt.Reset.Code
#        Codul de confirmare pentru resetarea instantelor.
#        Default: "RESET"
#
Kitt.Reset.Code = "tfcc"

# Cod pentru Fun Zone "Nu apasa"
# defaul "fun"
#
Kitt.Fun.NuApasa.Code = "4fun"

##############
# Start Guild
##############
# StartGuild.Alliance: The ID of the guild for Alliance players on first login.
# Default: 0
StartGuild.Alliance = 0

# StartGuild.Horde: The ID of the guild for Horde players on first login.
# Default: 0
StartGuild.Horde = 0

# StartGuild.ExcludeGMs: Exclude Game Masters (GM level > 0) from joining the start guild automatically.
# Default: 0 (false)
StartGuild.ExcludeGMs = 0

############
# CHAT LOGS
############
# Chat log parameters
ChatLogEnable = 1

# If this is enabled, all $d in file names are replaced with current date
# This does include innormative lexics log
ChatLogDateSplit = 1

# If this is enabled, UTF8 header is written into new files
ChatLogUTFHeader = 1

# If this is enabled, chat log will ignore messages with unprintable chars
ChatLogIgnoreUnprintable = 1

# Chat log files
ChatLogChatFile = "./chat-log/$d.main_chat.log" 
ChatLogPartyFile = "./chat-log/$d.party_chat.log"
ChatLogGuildFile = "./chat-log/$d.guild_chat.log"
ChatLogWhisperFile = "./chat-log/$d.whisper_chat.log"
ChatLogChannelFile = "./chat-log/$d.channel_chat.log"
ChatLogRaidFile = "./chat-log/$d.raid_chat.log"
ChatLogBattleGroundFile = "./chat-log/$d.bg_chat.log"

# Chat log screen logging
ChatLogChatScreen = 0
ChatLogPartyScreen = 0
ChatLogGuildScreen = 0
ChatLogWhisperScreen = 0
ChatLogChannelScreen = 0
ChatLogRaidScreen = 0
ChatLogBattleGroundScreen = 0

# Lexics cutter parameters
# activeaza pedeapsa+cenzura+logs
LexicsCutterEnable = 1

# activeaza cenzura
LexicsCutterInnormativeCut = 0
LexicsCutterCutReplacement = "Yo te quiero"
LexicsCutterLogFile = "./chat-log/$d.innormative.log"
LexicsCutterScreenLog = 0
LexicsCutterAnalogsFile = letter_analogs.txt
LexicsCutterWordsFile = innormative_words.txt

# Where to cut lexics
LexicsCutInChat = 1
LexicsCutInParty = 1
LexicsCutInGuild = 1
LexicsCutInWhisper = 1
LexicsCutInChannel = 1
LexicsCutInRaid = 1
LexicsCutInBattleGround = 1

# Ignore word spaces like: W O R D
LexicsCutterIgnoreSpaces = 1

# Ignore repeats like: WWOOOORRRRRD
LexicsCutterIgnoreRepeats = 1

# --- Action:
# ---   0: log only
# ---def   1: sheep
# ---   2: stun
# ---   3: kill
# ---   4: leave 5 health
# ---   5: disable chat
# ---def   6: stuck (works as stun + 50% health) [by KAPATEJIb]
LexicsCutterAction = 0
LexicsCutterActionDuration = 20000

# Do not perform action on GM if this is enabled
LexicsCutterNoActionOnGM = 0

##################
# level up reward
##################
# kitt.Reward.Gold.80: The amount of gold granted to a player when they reach level 80.
# kitt.Reward.Item.80: The Item ID on level 80
# kitt.Reward.iCount.80: The count(default = 1) for the Item ID on level 80
# item entry = 212202 Event Item
# item entry = 230017 Event Item2
# item entry = 230018 Event Item3

# Default: 0 (disable)

kitt.Reward.Gold.21 = 0
kitt.Reward.Item.21 = 0
kitt.Reward.iCount.21 = 1

kitt.Reward.Gold.30 = 0
kitt.Reward.Item.30 = 0
kitt.Reward.iCount.30 = 1

kitt.Reward.Gold.40 = 0
kitt.Reward.Item.40 = 0
kitt.Reward.iCount.40 = 1

kitt.Reward.Gold.50 = 0
kitt.Reward.Item.50 = 0
kitt.Reward.iCount.50 = 1

kitt.Reward.Gold.60 = 0
kitt.Reward.Item.60 = 0
kitt.Reward.iCount.60 = 1

kitt.Reward.Gold.70 = 0
kitt.Reward.Item.70 = 0
kitt.Reward.iCount.70 = 1

kitt.Reward.Gold.80 = 0
kitt.Reward.Item.80 = 0
kitt.Reward.iCount.80 = 1
#########